@import url('https://fonts.googleapis.com/css?family=Roboto');

/* ==========================================================================
   COLOR VARIABLES
   ========================================================================== */

:root {

  --alabaster: #fafafa;
	--mine-shaft: #212121;

}

/* ==========================================================================
   BASE STYLES
   ========================================================================== */

html, body, #root, .app {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--alabaster);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
	flex-wrap: wrap;
}

/* ==========================================================================
   GLOBAL NAVIGATION
   ========================================================================== */

   /* Primary
   ========================================================================== */

   /* Footer
   ========================================================================== */

   /* Media Queries
   ========================================================================== */


/* ==========================================================================
   HOMEPAGE
   ========================================================================== */

   /* Media Queries
   ========================================================================== */

/* ==========================================================================
  LESSONS PAGE
  ========================================================================== */
