@import url('https://fonts.googleapis.com/css?family=Roboto');

/* ==========================================================================
   COLOR VARIABLES
   ========================================================================== */

:root {

  --alabaster: #fafafa;
	--mine-shaft: #212121;

}

/* ==========================================================================
   BASE STYLES
   ========================================================================== */

html, body, #root, .app {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--alabaster);
}

main {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
	flex-wrap: wrap;
}

nav {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  z-index: 10;
}

/* ==========================================================================
   GLOBAL NAVIGATION
   ========================================================================== */

 /* Primary
 ========================================================================== */
 .primary-nav {
  width: 4rem;
  height: 100%;
  background: var(--mine-shaft);
}

.primary-nav h1 {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: var(--alabaster);
}

.nav-logo {
  display: block;
  padding: 1rem;
  margin: 0 auto;
  color: red;
  cursor: pointer;
}

.nav-item {
  display: block;
  padding: 1rem 0.5rem;
  margin: 0 auto;
  color: var(--alabaster);
}

  /* Secondary
  ========================================================================== */

.secondary-nav{
  width: 16rem;
  padding: 0 36px 0 0;
  background-color: #f4f4f4;
  overflow-y: auto;
}

.accordion__title{
  padding: 18px 0;
  /* margin: 18px;  */
}

   /* Footer
   ========================================================================== */

   /* Media Queries
   ========================================================================== */


/* ==========================================================================
   HOMEPAGE
   ========================================================================== */

   /* Media Queries
   ========================================================================== */

/* ==========================================================================
  LESSONS PAGE
  ========================================================================== */
